rgbd_dataset_freiburg1_desk/
*.pt

# Virtual environments
.venv/
venv/
env/
myenv/

# Artifacts & Caches
experiments/*/frames/
experiments/*/logs/
__pycache__/
# Data and Model Assets
data/raw/
data/processed/
models/
mobileclip2_b.ts
runs/
.ultralytics/
*.ipynb
yolov8n*.pt
yolov8s*.pt

# Pytest Temp
.pytest-tmp/
